/**
 * components/_search.scss
 */

#search::placeholder {
  padding: 0 10px;
  font-size: 15px;
}

.search-box {
  max-width: 420px;
  color: var(--color-7);
  margin-bottom: 20px;
  margin: 0 2% 20px 2%;
  
  display: flex;
  flex-flow: column;

  .container {

    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    label {
      background: var(--color-03);
      color: var(--color-7);
      padding: 13.5px;
      border-radius: 0 10px 10px 0;
      width: 43px;
    }
  
    input {
      width: calc(100% - 43px);
      height: 45px;
      border: none;
      border-radius: 10px 0 0 10px;
      background-color: var(--color-7);
      position: relative;
    }
  }

  .results {
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0s;
    width: 100%;
    opacity: 0;

    margin-top: 8px;
    padding: 12px 12px 24px;
    border-radius: 8px;
    background-color: var(--color-7);
    color: var(--color-1);

    &.-show {
      opacity: 1;
    }

    .result-count {
      font-size: 1.1rem;
      margin-bottom: 8px;
      display: block;
    }

    a {
      transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1) 0s;
      text-decoration: none;
      font-size: 1.2rem;
      font-weight: 500;
      text-align: center;
      background-color: var(--color-7);
      color: #000000;

      padding: 8px 0;
      margin: -1px 0;
      width: 100%;
      display: block;

      border: 1px solid var(--color-6);
      border-radius: 6px;
      border-left: none;
      border-right: none;

      &:hover {
        background-color: var(--color-01);
        color: var(--color-7);
      }

    }
  }
}
